<p class="lead">Regras gerais:</p>
<ul>
    <li>Direito a 30 dias de férias</li>
    <li>Os 30 dias serão parcelados em 3 períodos onde:
        <ul>
            <li>Um período deve ter no mínimo 14 dias e no máximo 20 dias</li>
            <li>Os demais períodos devem ter no mínimo 5 dias</li>
            <li>Os períodos não podem iniciar às Sextas-ferias, Sábados, Domingos e Feriados</li>
            <li>Os períodos devem respeitar a antecedência mínima de 3 dias antes de feriados. Ou seja, caso o feriado
                tenha início na sexta-feira, por exemplo, o início do período de férias deve ser na terça-feira ou anterior. </li>
        </ul>
    </li>
</ul>